.photo-details-modal {
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(0,0,0,0.9);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  height: 80%;
  width: 55%;
  overflow-y: scroll;
  border-radius: 12px;
}

.photo-details-modal__close-button {
  background-color: white;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 16px;
  margin-top: 16px;
}

.photo-details-modal__images {
  margin-left: 36px;
  margin-top: 8px;

  .photo-list__fav-icon{
    left:90px;
  }

  :not(:nth-of-type(2)) {
    .photo-list__fav-icon{
      left:5px;
    }
  }

  :not(:first-of-type) {
    margin-right: 50px;
  }
}

.photo-details-modal__image {
  max-width: 80%;
  margin-left: 85px;
}

.photo-details-modal__top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px;
  margin-top: 8px;
  align-items: center;
}

.photo-details-modal__photographer-details {
  display: flex;
  font-size: 16px;
  margin-left: 10px;
  margin-top: 10px;
}

.photo-details-modal__header {
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e;
  margin-top: 24px;
  margin-left: 30px;
  margin-bottom: 0;
  width: 90%;
}

.photo-details-modal__photographer-location {
  color: #838383;
}
.photo-details-modal__photographer-profile {
  object-fit: cover;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 8px;
  width: 60px;
  height: 60px;
}

.photo-details-modal__photographer-info {
  margin-top: 17px;
  font-weight: 700;
  font-size: 12px;
  margin-left: 8px;;
}


hr {
  max-width: 95%;
}